@use "../utilities" as *;

/**----------------------------------------
    START: Feature CSS
----------------------------------------*/

.feature-section{
    position: relative;
    z-index: 1;
    overflow: hidden;
    .feature-img{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 800px;
        max-width: 875px;
        width: 100%;
        @include breakpoint(xxxl){
            left: -150px;
        }
        @include breakpoint(xl){
            left: -280px;
        }
        @include breakpoint(lg){
            left: 0;
        }
        @include breakpoint(md){
            height: 700px;
        }
        @include breakpoint(sm){
            display: none;
        }
        .main-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .feature-exp-img{
            position: absolute;
            top: 0;
            right: 0;
            animation-name: spin;
            animation-duration: 15s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            @include breakpoint(lg){
                display: none;
            }
        }
    }
    .overlay{
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        @include breakpoint(lg){
            visibility: visible;
            opacity: 1;
        }
    }
    .shape{
        position: absolute;
        bottom: -40%;
        right: 0;
        z-index: -1;
    }
}

.feature-content{
    position: relative;
    z-index: 1;
    .desc{
        font-size: 20px;
        font-weight: 500;
    }
}

.feature-item{
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;
    grid-gap: 20px;
    @include breakpoint(sm){
        grid-template-columns: 1fr;
    }
    &:not(:last-of-type){
        margin-bottom: 30px;
    }
    .icon{
        background-color: var(--rr-color-theme-primary);
        height: 98px;
        width: 98px;
        @include flex-center;
        border: 2px solid var(--rr-color-heading-primary);
        border-radius: 50%;
    }
    .content{
        .title{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        p{
            max-width: 390px;
            width: 100%;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


// Feature 2

.feature-item-wrap{
    position: relative;
    z-index: 1;
    @include breakpoint(lg){
        margin-top: 40px;
    }
    &:before{
        background-color: var(--rr-color-heading-primary);
        content: "";
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 29px;
        z-index: -1;
        @include breakpoint(sm){
            display: none;
        }
    }
    .feature-item-2{
        display: grid;
        align-items: center;
        grid-template-columns: 60px 1fr;
        grid-gap: 40px;
        @include breakpoint(sm){
            grid-template-columns: 1fr;
            grid-gap: 20px;
            &:not(:last-of-type){
                margin-bottom: 50px;
            }
        }
        .number{
            background-color: var(--rr-color-common-white);
            font-family: var(--rr-ff-heading);
            color: var(--rr-color-heading-primary);
            width: 58px;
            height: 58px;
            @include flex-center;
            font-size: 16px;
            font-weight: 600;
            border-radius: 50%;
            border: 2px solid var(--rr-color-heading-primary);
        }
        .feature-box{
            display: grid;
            align-items: center;
            grid-template-columns: 98px 1fr;
            grid-gap: 35px;
            padding: 38px;
            border: 2px solid var(--rr-color-heading-primary);
            border-radius: 15px;
            max-width: 647px;
            width: 100%;
            @include breakpoint(sm){
                grid-template-columns: 1fr;
            }
            .content{
                .title{
                    margin-bottom: 15px;
                    font-weight: 800;
                }
                p{
                    color: var(--rr-color-heading-primary);
                    font-size: 16px;
                    line-height: 1.5;
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* !END: Feature CSS */
